@model ListOfTasks

@{
    ViewBag.Title = "Tasks";
    Layout = "~/Views/Shared/_TaskLayout.cshtml";
}

<h2>Assigned Tasks</h2>

@await Html.PartialAsync("_TasksPartial", Model.Tasks.Skip((Model.PaginationInfo.CurrentPage - 1) * Model.PaginationInfo.PageSize).Take(Model.PaginationInfo.PageSize).ToList())

@if (Model.Tasks is not null)
{
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link text-secondary" href="@Url.Action("Index", "Tasks", new
                    { 
                        currentPage = Model.PaginationInfo.CurrentPage - 1,
                        sortBy = Model.Filter!.SortBy,
                        tag = Model.Filter.Tag,
                        statusId = Model.Filter.StatusId,
                        showCompletedTasks = Model.Filter.ShowCompletedTasks
                    })" aria-label="Previous">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                        <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
                    </svg>
                </a>
            </li>
            @foreach (var i in Enumerable.Range(1, Model.PaginationInfo.TotalPages))
            {
                <li class="page-item">
                    <a class="page-link @(i == Model.PaginationInfo.CurrentPage ? "bg-secondary text-light border-secondary" : "text-secondary")"
                       href="@Url.Action("Index", "Tasks", new
                       {
                           currentPage = i,
                           sortBy = Model.Filter!.SortBy,
                           tag = Model.Filter.Tag,
                           statusId = Model.Filter.StatusId,
                           showCompletedTasks = Model.Filter.ShowCompletedTasks
                       })">@i
                    </a>
                </li>
            }
            <li class="page-item">
                <a class="page-link text-secondary" href="@Url.Action("Index", "Tasks", new
                    { 
                        currentPage = Model.PaginationInfo.CurrentPage + 1,
                        sortBy = Model.Filter!.SortBy,
                        tag = Model.Filter.Tag,
                        statusId = Model.Filter.StatusId,
                        showCompletedTasks = Model.Filter.ShowCompletedTasks
                    })" aria-label="Next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                    </svg>
                </a>
            </li>
        </ul>
    </nav>
}