@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="col-md-4 bg-white p-4 rounded shadow">
    <h2 class="text-center mb-4">Change password</h2>
    <form asp-action="ChangePassword" asp-controller="Account" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <label for="username" class="form-label">New password</label>
            <input id="username" asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="confirmNewPassword" class="form-label">Confirm new password</label>
            <input id="confirmNewPassword" asp-for="ConfirmNewPassword" class="form-control" />
            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
        </div>
        <input type="hidden" value="@Model.Email" asp-for="Email" class="form-control" />
        <input type="hidden" value="@Model.Token" asp-for="Token" class="form-control" />
        <input type="submit" value="Change password" class="btn btn-success w-100 p-2" />
        <p class="text-center">
            Don't have an account? <a asp-controller="Account" asp-action="Register" class="text-decoration-none">Register here</a>
        </p>
        <div class="text-center">
            <a asp-controller="Tasks" asp-action="Index" class="text-decoration-none mt-3">Back</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

