@using TodoListApp.WebApp.Models.AuthenticationModels
@model CheckEmailViewModel
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="col-md-4 bg-white p-4 rounded shadow">
    <h2 class="text-center mb-4">Forgot password</h2>
    <form asp-action="ForgotPassword" asp-controller="Account" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input id="email" asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <input type="submit" value="Send message" class="btn btn-success w-100 p-2" />
        <div class="text-center">
            <a asp-controller="Account" asp-action="Login" class="text-decoration-none mt-3">Back</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
