@model LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="col-md-4 bg-white p-4 rounded shadow">
    <h2 class="text-center mb-4">Login</h2>
    <form asp-action="Login" asp-controller="Account" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input id="username" asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="Password" class="form-label">Password</label>
            <input id="password" asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-check mb-3">
            <label>
                <input asp-for="RememberMe" type="checkbox" class="form-check-input" />
                @Html.DisplayNameFor(a => a.RememberMe)
            </label>
        </div>
        <input type="submit" value="Login" class="btn btn-success w-100 p-2" />
        <p class="text-center">
            Don't have an account? <a asp-controller="Account" asp-action="Register" class="text-decoration-none">Register here</a>
        </p>
        <div class="text-center">
            <a asp-controller="Tasks" asp-action="Index" class="text-decoration-none mt-3">Back</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}