@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-3">
    <vc:task-menu />
</div>

<main role="main" class="col-9">
    @RenderBody()
</main>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}