@model TodoListViewModel

@{
    ViewData["Title"] = "Create to-do list";
    Layout = "~/Views/Shared/_TodoListLayout.cshtml";
}

<h1>To-do list creation</h1>

<div>
    <form asp-action="Create" asp-controller="TodoLists" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" asp-for="Title" class="form-control" id="title" placeholder="title of to-do list">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" asp-for="Description" id="description" placeholder="description of to-do list">
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div>
            <input asp-for="Owner.Id" type="hidden" class="form-control" />
        </div>
        <div>
            <input asp-for="Editors" type="hidden" class="form-control" />
        </div>
        <input type="submit" class="btn btn-secondary w-100 p-2" value="Create" />
    </form>
</div>