@{
    ViewData["Title"] = "Todo Lists";
    Layout = "~/Views/Shared/_TodoListLayout.cshtml";
}

<div class="m-2">
    <h3>There could be tasks of your list</h3>
    <p>You can pick one of the existing lists or create new.</p>
</div>
